{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'usuarios/css/cadastro.css' %}">
{% endblock %}
{% block 'titulo' %}Cadastre-se{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="logo_sidebar">
                <h2 class="logo">
                    <img class="img_logo_sidebar" src="{% static 'usuarios/img/fundo_background.png' %}">
                </h2>
            </div>
        </div>
        <div class="col-md-9">
           
        </div>
    </div>
</div>
{% endblock %}