{% extends 'base/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'usuarios/css/cadastro.css' %}  ">
{% endblock %}

{% block titulo %}Cadastre-se{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="logo_sidebar">
                <h2 class="logo">
                    <img class="img_logo_sidebar" src=" {% static 'usuarios/img/fundo_background.png' %}">
                </h2>
            </div>
        </div>
        <div class="col-md-9">
            <div class="area_cadastrar">
                <h2 class="titulo">Seja bem vindo</h2>
                <p class="sub-titulo">Crie sua conta</p>
                
                    
                    {% if messages %}
                    
                        {% for message in messages %}
                        
                        <div class="alert {{message.tags }} " >
                        
                        {{ message }}
                    </div>
                        {% endfor %}
                    
                {% endif %}
                 
            
            
                <hr>
                <form action="{% url 'cadastrar' %}" method="POST">
                    {% csrf_token %}
                    <span class="bold">Nome de usuário</span>
                    <input class="form-control input-form" name="usuario" type="text" placeholder="Digite seu nome...">
                    <br>
                    <span class="bold">E-mail</span>
                    <input class="form-control input-form" name="email" type="text" placeholder="Digite seu E-mail...">
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <span class="bold">Senha</span>
                            <input class="form-control input-form" name="senha" type="password"
                                placeholder="Digite sua senha...">
                        </div>
                        <div class="col-md">
                            <span class="bold">Confirmar senha</span>
                            <input class="form-control input-form" name="confirmar_senha" type="password"
                                placeholder="Confirme sua sennha">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <button class=" btn-first">Registrar</button>
                        </div>
                    </div>
                </form>
              <hr>
              <br>
              <h3 style="position: absolute; bottom: 65px; font-weight: bold">Já possui uma conta ?&nbsp <a
                class="btn btn-outline-success" href="{% url 'login' %}">Logar</a>
            </div>
            
              
                   
              
            
        </div>
       
    </div>
</div>

{% endblock %}